/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-color-light: #E9EAF0;
  --background-color-dark: #24272C;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --toggle-background-color-light: #9c9c9c;
  --toggle-background-color-dark: #3d3f43;
  --toggle-thumb-color-light: hsl(0, 0%, 100%);
  --toggle-thumb-color-dark: #E9EAF0;
}


body {
  display: flex;
  background: #24272C;
  background-color: #24272C;
  animation-timing-function: calc(0.5s * 0.5);
  animation: gradient 0.5s infinite alternate;
  background-size: 800% 800%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 10% 10%;
  }
  50% {
    background-position: 10% 10%;
  }
  100% {
    background-position: 10% 10%;
  }
}

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted to create space between .nav-logo and .toggle-container */
  z-index: 100;
  padding-left: 25px; /* Added padding to the left side of .nav-bar */
  padding-right: 25px; /* Added padding to the right side of .nav-bar */
}

.nav-bar .nav-logo .login .getstarted {
  flex-shrink: 0; /* prevent the items from shrinking */
  margin: 0 25px;
}

.nav-logo {
  width: 127px;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: .5s;
  padding-left: 1px;
}

.nav-logo:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: .5s;
  /* add onclick to act as home button in html */
}

.spaceguy {
  min-width: 50px;
  width: 500px;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.toggle-container {
  display: none;
  align-items: center;
  Margin-right: 65px;
}

.switch {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9c9c9c;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: hsl(0, 0%, 100%); /* Updated background color when toggle is 'left' */
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0b0b0b;
  background: #9c9c9c; /* Updated background color when toggle is 'left' */
}

input:focus + .slider {
  box-shadow: 0 0 1px #3d3f43;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: #24272C;
}

.wrapper {
  width: 250px;
  height: 200px;
  background: transparent;
  border-radius: 20px;
  padding: 20px 20px 20px;
  color: rgb(51, 51, 51);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  justify-content: center;
  align-items: center;
}

head,
.content :where(i, p, span) {
  color: #ffffff;
}

.wrapper header {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.wrapper .content {
  margin: 15px 0;
}

.content .quote-area {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  height: 150px;
}


.content .quote-area .quote {
  font-size: 18px;
  text-align: center;
  word-break: break-word;
  max-width: 100%;
}

.quote-area i {
  font-size: 5px;
}

.quote-area i:first-child {
  margin: 2px 5px 0 0;
}

.quote-area i:last-child {
  display: flex;
  margin: 0 0 2px 5px;
  align-items: flex-end;
}

.content .author {
  display: flex;
  font-size: 10px;
  margin-top: 100px;
  font-style: italic;
  justify-content: flex-end;
  max-width: 100%;
  max-height: 100%;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  backdrop-filter: blur(2px); /* Adjust the blur intensity as desired */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between; /* Move the image to the far right side */
  align-items: center; /* Align items vertically center */
  z-index: 100; /* make sure it stays on top */
  padding: 10px; /* Add padding to the left and right */
}

/* Add CSS styles for the image (assuming you are using an image tag) */
.footer img {
  width: 60px; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */
  opacity: .33;
}

/* Add a media query for smaller screens or mobile */
@media screen and (max-width: 768px) {
  .content .quote-area .quote {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  .content .author {
    font-size: 8px; /* Decrease font size for smaller screens */
  }
}

